.article-list {
  display: grid;
  grid-gap: var(--space-3xl);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  display: inline-block;
  margin-top: var(--space-lg);
  font-size: var(--text-lg);
  border-bottom: 1.5px solid transparent;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}
