.hero {
  position: relative;
  display: flex;
  align-items: flex-end;
  max-width: var(--size-max-width);
  min-height: 200px;
  margin: 0 auto;
  padding: 0 0 var(--size-gutter);
}

.image {
  width: 100%;
  /*
      Ensure golden ratio for the hero size while limiting it to some extend to
      the viewport width
    */
  height: 61.8vh;
  max-height: 560px;
}

.details {
  position: absolute;
  left: 0;
  width: 85%;
  max-width: 40rem;
  padding: var(--space-2xl) var(--size-gutter) 0;
  background: var(--background);
}

.title {
  margin: 0 0 var(--space-xl);
  font-weight: var(--extrabold);
  font-size: var(--text-title);
  line-height: var(--solid);
  letter-spacing: -0.012em;
}

.content {
  margin: 0;
  font-weight: var(--semibold);
  font-size: var(--text-lead);
}

@media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  .details {
    max-width: 44rem;
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    width: 85%;
    margin-left: auto;
  }

  .details {
    left: var(--size-gutter);
    padding: var(--space-3xl) var(--size-gutter) 0 0;
  }
}
