.section {
    position: relative;
    z-index: 3;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--swatch_f4238f91);
}

.section:medium {
    padding: 80px 0;
}

.section:small {
    padding-top: 64px;
    padding-bottom: 64px;
}

.wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1234px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.wrapper:medium {
    padding-right: 16px;
    padding-left: 16px;
}

.panel {
    display: grid;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--swatch_68d01675);
}

.panel:medium {
    grid-column-gap: 24px;
}

.panel:tiny {
    padding-top: 24px;
    padding-bottom: 24px;
    grid-row-gap: 12px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.panel:small {
    grid-column-gap: 18px;
}

.panel-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.panel-social-links {
    display: flex;
    margin-right: -12px;
    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: flex-end;
    align-items: center;
}

.panel-social-link {
    position: relative;
    padding: 4px 12px;
    -webkit-transition: color 400ms cubic-bezier(.25, .46, .45, .94);
    transition: color 400ms cubic-bezier(.25, .46, .45, .94);
    color: #151515;
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    display: inline-block;
}

.panel-social-link:hover {
    color: #f96a4c;
}

.breadcrumbs {
    display: flex;
    padding-left: 1px;
    justify-content: flex-start;
    align-items: center;
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.breadcrumbs-link {
    position: relative;
    display: flex;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-direction: column;
    color: var(--swatch_c450d3ea);
    text-decoration: none;
    background-color: transparent;
}

.breadcrumb-link-current-page {
    color: var(--swatch_4295c52b);
}

.breadcrumb-divider {
    width: 3px;
    height: 3px;
    margin-right: 12px;
    margin-bottom: 1px;
    margin-left: 12px;
    border-radius: 50%;
    background-color: #cdd2d9;
}

.breadcrumb-divider:medium {
    margin-right: 8px;
    margin-left: 8px;
}

.hover-line {
    position: absolute;
    left:0;
    top: auto;
    right:0;
    bottom:0;
    width: 50%;
    height: 1px;
    background-color:  var(--swatch_a5267f7d);
    /*@swatch_a5267f7d;*/
}

.hover-line:medium {
    display: none;
}

.hover-line.grey {
    background-color: var(--swatch_c450d3ea);
}
