.panel {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom-color: var(--swatch_68d01675);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media screen and (max-width: 991px) {
  .panel {
    grid-column-gap: 24px;
  }
}

@media screen and (max-width: 479px) {
  .panel {
    grid-row-gap: 12px;
    grid-template-rows: auto auto;
    padding: 24px 0;
  }
}

.panel-right {
  display: flex;
}

@media screen and (max-width: 479px) {
  .panel-right {
    display: none;
  }
}

.panel-social-links {
  display: flex;
  margin-right: -12px;
  padding: 4px 0;
}

.panel-social-link {
  padding: 4px 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

.panel-social-link:hover,
.panel-social-link:focus {
  color: #f96a4c;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.breadcrumbs-link {
  color: var(--swatch_c450d3ea);
  text-decoration: none;
  background-color: transparent;
}

.breadcrumb-link-current-page {
  color: var(--swatch_4295c52b);
}

.breadcrumb-divider {
  width: 3px;
  height: 3px;
  margin: 0 12px 1px 12px;
  background-color: #cdd2d9;
  border-radius: 50%;
}

@media screen and (max-width: 991px) {
  .breadcrumb-divider {
    margin: 0 8px;
  }
}
