@font-face {
  font-weight: 100 900;
  font-family: 'Inter var';
  font-style: normal;
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
  font-display: swap;
  font-named-instance: 'Regular';
}

@font-face {
  font-weight: 100 900;
  font-family: 'Inter var';
  font-style: italic;
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
  font-display: swap;
  font-named-instance: 'Italic';
}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  font-weight: var(--body);
  font-size: 16px;
  font-family: var(--font-sans);
  line-height: var(--default);
  background: var(--background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

h2 {
  margin-top: 0;
  margin-bottom: var(--space-lg);
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

h3 {
  margin-top: 0;
  margin-bottom: var(--text-md);
  font-size: var(--text-2xl);
  line-height: 32px;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--primary);
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background: var(--black-fade-5);
}

tt,
code,
kbd {
  font-size: 90%;
  font-family: var(--font-monospace);
}

tt,
code {
  padding: 0.2em 0;
  font-weight: var(--medium);
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: ' ';
}

pre,
code {
  font-family: var(--font-monospace);
}
