.hero-v1-section {
    position: relative;
    overflow: hidden;
    padding-top: 12vw;
    padding-bottom: 9vw;
    background-color: #f1ede9;
}

/*maxWidth: 991*/
.hero-v1-section:medium {
    padding-top: 20vw;
    padding-bottom: 12vw;
}

/*maxWidth: 479*/
.hero-v1-section:tiny {
    margin-bottom: -32px;
    padding-top: 32vw;
    padding-bottom: 26vw;
}

/*maxWidth: 767*/
.hero-v1-section:small {
    padding-bottom: 10vw;
}

.wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1234px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.wrapper:medium {
    padding-right: 16px;
    padding-left: 16px;
}

.hero-v1 {
    display: flex;
    align-items: stretch;
}

.hero-v1:medium {
    padding-right: 2%;
    padding-left: 2%;
}

.hero-v1:tiny {
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
}

.hero-v1-photo {
    width: 300px;
    height: 300px;
    max-height: 24vw;
    max-width: 24vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    object-fit: cover;
}

.hero-v1-photo:medium {
    width: 24vw;
    height: 24vw;
    max-height: none;
    max-width: none;
}

.hero-v1-photo:tiny {
    width: 40vw;
    height: 40vw;
}

.hero-v1-photo:small {
    width: 24vw;
    height: 24vw;
}

.hero-v1-info {
    padding-top: 60px;
    padding-left: 8%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.hero-v1-info:medium {
    padding-top: 32px;
    padding-left: 5%;
    font-size: 26px;
    line-height: 36px;
}

.hero-v1-info:tiny {
    padding-top: 16px;
    padding-left: 0;
}

.hero-v1-info:small {
    padding-top: 0;
}

.hero-v1-text {}

.dynamic-text-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.dynamic-text-wrapper:medium {
    margin-bottom: 12px;
}

.dynamic-text-wrapper:tiny {
    padding-right: 0;
    padding-left: 0;
}

.dynamic-text-wrapper:small {
    margin-top: -4px;
}

.dinamic-text-line {
    color: #f96a4c;
}

.hero-v1-angle {
    position: absolute;
    left: -10vw;
    bottom: -5vw;
    z-index: 1;
    width: 120vw;
    height: 28vw;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    -webkit-transform: translate(0px, 13vw) rotate(9deg);
    -ms-transform: translate(0px, 13vw) rotate(9deg);
    transform: translate(0px, 13vw) rotate(9deg);
}

.hero-v1-angle:tiny {
    display: none;
}

/*large*/
/*minWidth: 1280*/

/*xl*/
/*minWidth: 1440*/

/*xxl*/
/*minWidth: 1920*/