.article-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.title {
    display: inline-block;
    font-size: var(--text-xl);
    margin-bottom: var(--space-md);
    margin-top: var(--space-xl);
    border-bottom: 1.5px solid transparent;
}

.link {
    text-decoration: none;
}

.link:hover .title {
    border-bottom-color: var(--primary);
}

.meta {
    display: flex;
    justify-content: space-between;
}
