.work-nav-preview {
  display: flex;
  flex: 0 0 auto;
  align-items: end;
  justify-content: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: #e4e8ed;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .work-nav-preview {
    width: 80px;
    height: 80px;
  }
}

.work-nav-info {
  flex: 1;
  padding: 8px 24px;
}

@media screen and (max-width: 767px) {
  .work-nav-info {
    padding: 0 10px;
  }
}

.work-nav-button {
  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  width: 70px;
  height: 70px;
  padding: 12px;
}

@media screen and (max-width: 479px) {
  .work-nav-button {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

.work-nav-link,
.work-nav-link-right {
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: #151515;
}

@media screen and (max-width: 479px) {
  .work-nav-link {
    flex-direction: column;
    padding: 20px 0;
  }
}

@media screen and (max-width: 991px) {
  .work-nav-link {
    justify-self: stretch;
  }
}

.work-nav-link-right {
  align-self: center;
  justify-self: end;
  text-align: right;
}

@media screen and (max-width: 479px) {
  .work-nav-link-right {
    flex-direction: column-reverse;
    justify-self: stretch;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .work-nav-link {
    padding: 0;
  }
}

.work-nav-text {
  margin-bottom: 4px;
  color: #979da9;
  font-size: 13px;
  line-height: 20px;
}

.work-nav-name {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

@media screen and (max-width: 767px) {
  .work-nav-name {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 991px) {
  .work-nav-name {
    font-size: 17px;
    line-height: 24px;
  }
}

.work-nav {
  display: grid;
  grid-template-columns: 1fr minmax(20px, auto) 1fr;
  padding: 40px 0;
  border-top: 1px solid #e4e8ed;
  border-bottom: 1px solid #e4e8ed;
}

@media screen and (max-width: 479px) {
  .work-nav {
    grid-row-gap: 20px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    text-align: center;
    border-top-style: none;
    border-bottom-style: none;
  }
}

@media screen and (max-width: 767px) {
  .work-nav {
    padding: 24px 0;
  }
}

.circle {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f96a4c;
  border-radius: 50%;
}

.circle-wave-1 {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  z-index: 2;
  display: block;
  margin: auto;
  background-color: #f96a4c;
  border-radius: 50%;
  opacity: 0.2;
}

.circle-wave-2 {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  z-index: 1;
  display: block;
  background-color: #f96a4c;
  border-radius: 50%;
  opacity: 0.1;
}
