
.work-grid-1 {
    display: grid;
    grid-auto-columns: 1fr;
    width: 50%;
    max-width: 570px;
    grid-column-gap: 0;
    grid-row-gap: 112px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

/*.works-grid-1:medium {*/
/*    grid-row-gap: 64px;*/
/*}*/

/*.works-grid-1:small {*/
/*    width: 100%;*/
/*    max-width: none;*/
/*    margin-bottom: 48px;*/
/*    grid-row-gap: 48px;*/
/*}*/
.work-grid-2 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
    margin-left: 11%;
    padding-top: 8px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    grid-column-gap: 0;
    grid-row-gap: 112px;
    grid-template-columns: 1fr;
}

/*.works-grid-2:medium {*/
/*    margin-left: 64px;*/
/*    grid-row-gap: 64px;*/
/*}*/

/*.works-grid-2:small {*/
/*    width: 100%;*/
/*    margin-left: 0%;*/
/*    grid-row-gap: 48px;*/
/*}*/



.dynamic-works {
    display: flex;
    margin-top: -8px;
    align-items: flex-start;
}

.dynamic-works-text {
    margin-right: 24px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.dynamic-works-intro {
    position: relative;
    z-index: 1;
    display: flex;
    margin-right: auto;
    margin-left: 0;
    flex-flow: row wrap;
    align-items: center;
    text-align: left;
}

.side-link {
    position: relative;
    overflow: hidden;
    padding: 7px 16px 8px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--swatch_68d01675);
    transition-property: color;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: var(--swatch_a5267f7d);
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}

.side-link-text {
    position: relative;
    z-index: 1;
}