:root {
  /* font-family */
  --font-cursif: 'Dancing Script', cursif;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Times New Roman', Times, serif;
  /* todo: check monospace font */
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  /* font-weight */
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --heavy: 900;

  /* font-size */
  --fontSize-root: 17px;
  --text-xxs: 11px;
  --text-xs: 13px;
  --text-sm: 15px;
  --text-md: 20px;
  --text-lg: 24px;
  --text-xl: 36px;

  /* line-height */
  --solid: 1;
  --dense: 1.3;
  --default: 1.3;
  --looser: 1.4;
  --loose: 1.6;

  /* palette */
  --black: #151515;
  --grey: #666d7a;
  --medium-grey: #979da9;
  --light-grey: #cdd2d9;
  --tag-grey: #f2f3f5;
  --white: #fff;
  --primary: #f96a4c;
  --orange: var(--primary);
  --beige: #f1ede9;
  --border: #e4e8ed;
  --dark-purple: #452c48;
  --purple: #433056;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --black-fade-5: rgba(0, 0, 0, 0.05);

  /* radii */
  --radius-sm: 4px;
  --radius: 0.25rem;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;

  /*screen size */
  --tiny: 479px;
  --sm: 767px;
  --md: 991px;

  /* Media Queries */
  --mq-tiny: 479px;
  --mq-small: 767px;
  --mq-medium: 991px;
  --mq-large: 1280px;
  --mq-xl: 1440px;
  --mq-xxl: 1920px;

  /* tracking */
  --text-prose-tracking: -0.011em;
}
